{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="{% static 'etc/js/jquery-1.12.0.min.js' %}" ></script>

        <!--MATHJAX DEPRECATED-->
        <script type="text/javascript" async
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <!--MATHJAX ALTERNATIVES-->
        <!--<script type="text/javascript" async-->
          <!--src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">-->
        <!--</script>-->
        <!--<script type="text/javascript" async-->
                <!--src ="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js">-->
        <!--</script>-->

        <script src="{% static 'etc/js/webmegaraetc-1.0.1.js' %}"></script>
        <script src="{% static 'etc/js/d3.min.js' %}"></script>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <link rel="stylesheet" type="text/css" href="{% static 'etc/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'etc/css/webmegaraetc-1.0.1.css' %}" />

        {% block head %}
            <title>MEGARA Online Exposure Time Calculator </title>
        {% endblock head %}
    </head>
<body>
    {% block header %}
    {% endblock header %}


    {% block content %}
    {% endblock content %}


    {% block footer %}
    {% endblock footer %}

</body>
</html>