{% load staticfiles %}


<div id="footer">
    <hr>
    <table width="100%">
        <tr><td>MEGARA Online Exposure Time Calculator version 0.8.1</td>
            <td></td>
            <td></td>
            <td>(<a class="" href="Javascript:newPopupBig('/static/etc/history.txt');" type="link">version history</a>)</td>
        </tr>
        <tr><td>Report problems/bugs/requests to: </td>
            <td></td>
            <td><div class="release">First released: 01/31/2016. Last updated: </div></td>
            <td><script language="JavaScript">document.write(document.lastModified);</script></td>
        </tr>
        <tr><td>Alexandre BOUQUIN ( abouquin at fis.ucm.es )</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>




