{% load staticfiles %}




<div id="header" onmouseover="style.cursor='pointer' ">
    <a href="javascript:twofunc();">
        <div class="ucmlogotd">
        <img id="ucmlogoimg" src="{% static 'etc/images/ucm-small.jpg' %}" />
        </div>
    </a>
    <div id="subheader" onclick="document.location='{% url 'etc:index' %}'">
        <div class="maintitletd">
            <h5>MEGARA Online Exposure Time Calculator (v0.9.5)</h5>
        </div>
        <div class="megaralogotd">
            <img src="{% static 'etc/images/megara_logo.gif' %}" width=150px />
        </div>
    </div>
</div>
