
{% load staticfiles %}

<link rel="apple-touch-icon-precomposed"
    sizes="57x57" href="{% static 'favicon-apple-touch-114.png' %}">

<link rel="apple-touch-icon-precomposed"
    sizes="114x114" href="{% static 'favicon-apple-touch-114.png' %}">

<link rel="apple-touch-icon-precomposed"
    sizes="72x72" href="{% static 'favicon-apple-touch-144.png' %}">

<link rel="apple-touch-icon-precomposed"
    sizes="144x144" href="{% static 'favicon-apple-touch-144.png' %}">

<link rel="icon" type="image/vnd.microsoft.icon"
    sizes="32x32 48x48" href="{% static 'favicon.ico' %}">

<link rel="icon" sizes="128x128" href="{% static 'favicon.icns' %}">

<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="{% static 'etc/css/style.css' %}" />

<div id="index_wrapper">
    <div id="index_content">

        <div id="index_leftdiv">
            <a href="{% url 'etc:form' %}">
                <img id="img_bigImage" title="Click here to start!"
                src="{% static 'etc/images/button_hex_green.png' %}"
                onmouseover="changeImage('{% static 'etc/images/button_hex_blue.png' %}')"
                onmouseout="changeImage('{% static 'etc/images/button_hex_green.png' %}')"
                onclick="changeImage('{% static 'etc/images/button_hex_red.png' %}')"
                />
                <script type="text/javascript" language="javascript">
                function changeImage(img){
                document.getElementById('img_bigImage').src=img;
                }
                </script>
            </a>
        </div>

        <div id="index_centerdiv">
            <h3>Welcome to<BR />
            MEGARA Online
            <hr id="index_hr_special" />
            Exposure Time Calculator version 0.9.0</h3>
        </div>
        <div id="index_bottomdiv">
            <a href="https://www.djangoproject.com/" target="_blank">
                <img title="Powered by Django"
                     src="{% static 'etc/images/django.jpg' %}"
                     id="img_django"/>
            </a>
            <a href="http://www.mathjax.org" target="_blank">
                <img title="Powered by MathJax"
                src="http://cdn.mathjax.org/mathjax/badge/badge.gif"
                border="0" alt="Powered by MathJax" />
            </a>
            <a href="http://bokeh.pydata.org/en/latest/" target="_blank">
                <img title="Powered by Bokeh"
                     src="http://bokeh.pydata.org/en/latest/_static/images/logo.png"
                     border="0"
                     alt="Powered by Bokeh"
                     id="img_bokeh"
                />
            </a>
        </div>

        <br />
        <br />
        <div id="recommendation">Browser recommendation: Chrome or Firefox.</div>
        <hr id="index_footerline">
        <div id="index_footer">
            <font id="copyright">&copy;2016-2017 MEGARA</font>
        </div>
    </div>
</div><!--close wrapper-->