{% extends "etc/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

    {% block head %}
            <title>MEGARA Online Exposure Time Calculator</title>
            <link href="{% static 'etc/css/webmegaraetc-0.4.5.css' %}" rel="stylesheet" type="text/css" />
            <script src="{% static 'etc/js/webmegaraetc-0.4.5.js' %}"></script>
            <script src="{% static 'etc/js/d3.min.js' %}"></script>

    {% endblock %}

    {% block header %}
        {% include "etc/header.html" %}
    {% endblock %}


    {% block content %}


    <div id="wrapper">
        <div id="theformcontainer">
            <form id="myform" method="post" onsubmit="return storeValues(this);">{% csrf_token %}
                <div id="leftdiv">
                    <h4>Target Input Flux Distribution</h4>
                    {% bootstrap_form form1 %}

                </div>

                <div id="rightdiv">
                    <h4>Instrument Setup</h4>
                    {% bootstrap_form form2 %}
                </div>
                <div id="rightdiv">
                    <h4>Atmospheric Conditions</h4>
                    {% bootstrap_form form3 %}
                </div>
                <div id="rightdiv">
                    <h4>Observational Setup</h4>
                    {% bootstrap_form form4 %}
                </div>

                <div id="submitbuttonsdiv">
                {% buttons class="aux" %}
                    {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" icon="star" %}
                    {% bootstrap_button "Reset" button_type="reset" button_class="btn-primary" icon="remove" href="Javascript:deleteCookies();" %}
                    {% bootstrap_button "Manual v0.4.5" button_type="link" button_class="btn-primary" icon="save-file" href="Javascript:newPopupBig('/static/etc/TEC_MEG_057-2E.pdf');" %}
                    {% bootstrap_button "Help" button_type="link" button_class="btn-primary" icon="question-sign" href="Javascript:newPopupBig('/static/etc/help/MEGARA_ONLINE_ETC_QUICK_GUIDE.pdf');" %}
                    {% bootstrap_button "Show Cookies" button_type="link" button_class="btn-primary" icon="star" href="Javascript:displayCookies();" %}
                    <!--{% bootstrap_button "Delete Cookies" button_type="link" button_class="btn-primary" icon="star" href="Javascript:deleteCookies();" %}-->
                    <!--{% bootstrap_button "Download" button_type="link" button_class="btn-primary" icon="floppy-save" href="/static/etc/megaraetc-0.4.1.tar" %}-->
                {% endbuttons %}
                </div>
            </form>

    <!-- THE OUTPUT form STARTS HERE -->
            <div id="theoutput">
                <div id="result3">

                            <b>Output Continuum S/N:</b>
                            <a class="" href="Javascript:newPopupBig('/static/etc/help/continuumoutput.txt');" type="link"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <b>Output Line S/N:</b>
                            <a class="" href="Javascript:newPopupBig('/static/etc/help/lineoutput.txt');" type="link"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <b>Input Parameters:</b>
                            <a class="" href="Javascript:newPopupBig('/static/etc/help/inputparameters.txt');" type="link"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <div id="store_result">
                                <b>Store Results:</b>
                                <a class="" href="Javascript:newPopupBig('/static/etc/outputcalc.txt');" type="link"><span class="glyphicon glyphicon-save-file"></span></a>
                            </div>
                            <!--<video controls loop autoplay width=70px>-->
                              <!--<source src="{% static 'etc/movie.mp4' %}" type="video/mp4">-->
                              <!--<source src="{% static 'etc/movie.ogg' %}" type="video/ogg">-->
                              <!--Your browser does not support the video tag.-->
                            <!--</video>-->
                </div>

                <div id="result">
                </div>
                <div id="result2">
                </div>
                <div id="result4">
                </div>
            </div>
        </div>
    <script type="text/javascript">
        readCookies();
    </script>

    <!--CLOSE WRAPPER-->
    </div>

    <div class="modal"></div>

    {% endblock %}


    {% block footer %}
        {% include "etc/footer.html" %}
    {% endblock %}