{% extends "etc/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{# Load the tag library #}

    {% block head %}
            <title>MEGARA Online Exposure Time Calculator</title>
            <script type="text/x-mathjax-config">
              MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [["$","$"],["\\(","\\)"]]
                },
                jax: ["input/TeX","output/HTML-CSS"],
                displayAlign: "left"
              });
             </script>
            <script>
            $(document).ready(function(){
                $("#hide").click(function(){
                    $("div").hide();
                });
                $("#show").click(function(){
                    $("div").show();
                });
            });
            </script>
            <!--<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css">-->
            <!--<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css" rel="stylesheet" type="text/css">-->

            <!--<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>-->
            <!--<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>-->

            <link href="{% static '/etc/css/bokeh-0.12.5.min.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static '/etc/css/bokeh-widgets-0.12.5.min.css' %}" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="{% static '/etc/js/bokeh-0.12.5.min.js' %}"> </script>
            <script type="text/javascript" src="{% static '/etc/js/bokeh-widgets-0.12.5.min.js' %}"> </script>
    {% endblock %}

    {% block header %}
        {% include "etc/header.html" %}
    {% endblock %}


    {% block content %}


    <div id="wrapper">
        <div id="theformcontainer">
            <form id="myform" method="post" action="/uploads/" enctype="multipart/form-data" onsubmit="return storeValues(this);">{% csrf_token %}
                <div id="leftdiv">
                    <h4>Target Input Flux Distribution</h4>
                    {% bootstrap_form form1 %}
                    {% bootstrap_form formU %}
                </div>

                <div id="rightdiv">
                    <h4>Instrument Setup</h4>
                    {% bootstrap_form form2 %}
                    <h4>Atmospheric Conditions</h4>
                    {% bootstrap_form form3 %}
                    <h4>Observational Setup</h4>
                    {% bootstrap_form form4 %}
                    <h4>Output Setup</h4>
                    {% bootstrap_form form5 %}
                </div>

                <div id="submitbuttonsdiv">
                    <!-- MAKE A BUTTON THAT DISPLAYS THE NUMBER OF FIELDS -->
                    <!--<button onclick="myFunction()">Try it</button>-->
                    <p id="demo"></p>
                    <!--<script>-->
                    <!--function myFunction() {-->
                        <!--var x = document.getElementById("myform").elements.length;-->
                        <!--document.getElementById("demo").innerHTML = "Found " + x + " elements in the form.";-->
                    <!--}-->
                    <!--</script>-->
                {% buttons class="aux" %}
                    {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" icon="star" %}
                    {% bootstrap_button "Reset" button_type="reset" button_class="btn-primary" icon="remove" href="Javascript:deleteCookies();" %}
                    {% bootstrap_button "Manual" button_type="link" button_class="btn-primary" icon="save-file" href="Javascript:newPopupBig('/static/etc/TEC_MEG_057_2F.pdf');" %}
                    {% bootstrap_button "Quick Start" button_type="link" button_class="btn-primary" icon="question-sign" href="Javascript:newPopupBig('/static/etc/MEGARA_ONLINE_ETC_QUICK_GUIDE_NEW.pdf');" %}
                    {% bootstrap_button "Show Cookies" button_type="link" button_class="btn-primary" icon="star" href="Javascript:displayCookies();" %}
                    <!--{% bootstrap_button "Delete Cookies" button_type="link" button_class="btn-primary" icon="star" href="Javascript:deleteCookies();" %}-->
                    <!--{% bootstrap_button "Download" button_type="link" button_class="btn-primary" icon="floppy-save" href="/static/etc/megaraetc-0.4.1.tar" %}-->
                {% endbuttons %}
                </div>
            </form>

    <!-- THE OUTPUT form STARTS HERE -->
            <div id="theoutput">
                <div id="outbuttons">
                            <b>Output Continuum S/N:</b>
                            <a class="" href="Javascript:newPopupBig('/static/etc/help/continuumoutput.txt');" type="link"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <b>Output Line S/N:</b>
                            <a class="" href="Javascript:newPopupBig('/static/etc/help/lineoutput.txt');" type="link"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <b>Input Parameters:</b>
                            <a class="" href="Javascript:newPopupBig('/static/etc/help/inputparameters.txt');" type="link"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <div id="store_result">
                                <b>Store Results (TXT):</b>
                                <a class="" href="Javascript:downloadFile(forfile);" type="link" ><span class="glyphicon glyphicon-save-file"></span></a>
                                <b>Store details of calculations (HTML):</b>
                                <a class="" href="Javascript:downloadCalcFile(calcfile);" type="link" ><span class="glyphicon glyphicon-save-file"></span></a><br />
                                <b>Store batch process results (CSV):</b>
                                <a class="redfont" href="Javascript:downloadBatchFile(batchfile);" type="link" ><span class="glyphicon glyphicon-save-file"></span></a>
                            </div>

                            <!--<video controls loop autoplay width=70px>-->
                              <!--<source src="{% static 'etc/movie.mp4' %}" type="video/mp4">-->
                              <!--<source src="{% static 'etc/movie.ogg' %}" type="video/ogg">-->
                              <!--Your browser does not support the video tag.-->
                            <!--</video>-->
                </div>
                <div id="outheaders">
                    <div id="outhead1"> <!-- OUTPUT HEADS: including OM + computation time -->
                    </div>
                </div>
                <div id="leftcolumn">
                    <!--<div id="resultgraphic"> &lt;!&ndash; MPLD3 &ndash;&gt;-->
                    <!--</div>-->
                    <div id="resultnewpsf"> <!-- NEWPSF -->
                    </div>
                    <div id="resultnewpsfline"> <!-- NEWPSF for line -->
                    </div>
                    <div id="othergraphic">
                    </div>
                    <div id="extrafooter">
                    </div>

                </div>
                <div id="buffer"> <!-- located in between graphics and tables -->
                </div>
                <div id="rightcolumn">
                    <div id="result4"> <!-- TABLES -->
                    </div>
                    <div id="uploadedfile">
                    </div>
                    <!--<div id="resultmath"> &lt;!&ndash; MATHJAX TEST &ndash;&gt; -->
                    <!--</div>  -->
                </div>
            </div>
        </div>
    <script type="text/javascript">
        readCookies();
    </script>

    <!--CLOSE WRAPPER-->
    </div>

    <div class="modal"></div>

    {% endblock %}


    {% block footer %}
        {% include "etc/footer.html" %}
    {% endblock %}