/* GLOBAL */

body {
    background: white;
}

li a {
    color: green;
}

p {
    font-size: 30pt;
/*    background: red;*/
}

/* INDEX PAGE */

#index_wrapper {
    width: 100%;
    margin: 0 auto;
}

#index_content {
    width: 800px;
    margin: 100 auto;
}

#index_leftdiv {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 30%;
}

#index_centerdiv {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 20pt;
    line-height: 30px;
    width: 40%;
}

#index_rightdiv {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#index_hr_special {
    background-color: red;
    width: 100%;
    height: 2px;
    text-align: left;
}

#img_bigImage {
    width: 150px;
}

#img_poweredby {
    text-align: right;
    width: 100px;
}

#copyright {
    font-size: 10pt;
}

#index_footer {
    text-align: center;
}

#index_footerline {
    width:70%;
}

/*  RESULTS PAGE */

#result_wrapper {
    width: 100%;
    text-align: center;
}

#result_content {
    width: 951px;
    font-size: 15pt;
    margin: 10 auto;
    text-align: center;
}

#result_header {
    width: 100%;
    display: inline-block;
    color: red;
    text-align: center;
    vertical-align: top;
    border-style: groove;
}

#result_left {
    width: 38%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-style: groove;
    float: left;
}

#result_center {
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-style: groove;
    float: none;
}

#result_right {
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-style: groove;
    float: right;
}

#result_bottom {
    text-align: left;
    vertical-align: middle;
    width:100%;
    margin: 0 auto;
    /*padding: 10 10 10 10;*/
}

#img_plot1 {
    width: 400px;
}
