/*CSS*/
/* this is a comment */

#wrapper {
    width:1000px;
    margin: 0 auto;
}

#body {
    font-family: sans-serif;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100px;
    align: center;
}

#headertable {
    width: 100%;
    border: 0;
 }

#headertabletr {
    }

TD.maintitletd {
    width: 40%;
    text-align: center;
    font-size: 18pt;
    font-color: #000000;
    vertical-align: middle;
}

TD.ucmlogotd {
    width: 30%;
    text-align: left;
}

#ucmlogoimg {
    width: 90px;
}

TD.megaralogotd {
    width: 30%;
    text-align: right;
}

#theformcontainer {
    background-color: #FFFFFF;
    height:500px;
    width:100%;
    /* float:left; */
    padding:0px;
}

#leftdiv{
    width:55%;
    float:left;
    height: 300px;
}

#rightdiv{
    width:45%;
    float:right;
    height: 300px;
}

#submitbuttonsdiv{
    font-weight: bold;
    width:100%;
    text-align: center;
}

#submitbuttons{
    font-size:9pt;
}

#theoutput {
    font-size: 12pt;
    border-left: 1px solid black;
    line-height:30px;
    background-color: #999999;
    /* height:670px; */
    width:100%;
    /* float:right; */
    padding:5px; 
}

/* #input {height:50px; width:100px;}
//#input {overflow:hidden; overflow-y:scroll;} */

#results{
    line-height: 100%; 
    /*height:850px;*/
    width:100%;
    text-align: left;
    border: 1px solid black;
    background-color: white;
    overflow:hidden;
    overflow-y:scroll;
}

#my_iframe {
    scrolling: "yes";
    width:100%;
    height: 1000px;
    background-color: white;
}

/*body{line-height: 100%;}*/
p {line-height: 100%;
    text-align: center; 
    background-color: #AAAAAA;}

ul {list-style:none;
    padding: 0px 0px 5px;
}

table {
    border: 0;
    width: 100%;
}

#tabletarget {
    width: 100%
}

#tablebuttons {
    text-align: center;
    width: 100%;
}

#TRtarget {
    height: 32px;
}

TD {font-size: 12px;
    /* line-height: 100%; */
    font-weight: bold;
    /* vertical-align: top; */
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

#sizet {color: grey;}
#id_size {color: grey;}
#id_contfluxval {color: grey;}
#id_lineflux {color: grey;}
#greylineflux {color: grey;}
#id_linewave {color: grey;}
#greylinewave {color: grey;}
#id_linefwhm {color: grey;}
#greylinefwhm {color: grey;}
#id_lineap {color: grey;}
#greylineap {color: grey;}
#id_contab {color: grey;}
#greycontap {color: grey;}

#smalltext {
    font-size: 8pt;
    color: red;
}

/* Special TD */
TD.tdstype {
    width: 20%;
    text-align: right;
    padding: 0px 0 0 0;
    line-height: 80%;
}
TD.inputfluxtd {
    text-align: right;
    /* padding: 0px 0 0 0; */

}