/* GLOBAL */


body{
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}

#header{
    height: 100px;
}

#subheader {
    height: 100%;
}

div.ucmlogotd{
    float:left
}

div.megaralogotd{
    float:right;
}

div.maintitletd {
    width: 30%;
    margin-left: 2%;
    float: left;
}


/* INDEX PAGE */

#index_wrapper {
    width: 100%;
    margin: 0 auto;
}

#index_content {
    width: 900px;
    margin-top: 30%;
    margin-left: 10%;
    align: center;
/*    padding-top: 11%;
    padding-left: 10%; */
}

#index_leftdiv {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15%;
}

#index_centerdiv{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#index_rightdiv {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#index_hr_special {
    background-color: red;
    width: 100%;
    height: 2px;
    text-align: left;
}

#index_bottomdiv {
    width: 100%;
    text-align: center;
}

#img_bigImage {
    width: 150px;
    position: relative;
    -webkit-animation-name: spinbutton; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-name: spinbutton;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes spinbutton {
    0%   {background-color:none; left:0px; top:0px; transform: scale(1);}
    25%  {background-color:none; left:0px; top:0px; transform: scale(1.05);}
    50%  {background-color:none; left:0px; top:0px; transform: scale(1);}
    75%  {background-color:none; left:0px; top:0px; transform: scale(1.05);}
    100% {background-color:none; left:0px; top:0px; transform: scale(1);}
}

/* Standard syntax */
@keyframes spinbutton {
    0%   {background-color:none; left:0px; top:0px; transform: scale(1);}
    25%  {background-color:none; left:0px; top:0px; transform: scale(1.05);}
    50%  {background-color:none; left:0px; top:0px; transform: scale(1);}
    75%  {background-color:none; left:0px; top:0px; transform: scale(1.05);}
    100% {background-color:none; left:0px; top:0px; transform: scale(1);}
}


#img_django {
    text-align: right;
    width: 37px;
}

#img_bokeh {
    text-align: right;
    width: 37px;
}

#copyright {
    font-size: 10pt;
}

#index_footer {
    text-align: center;
}

/*  RESULTS PAGE OBSOLETE! see webmegaraetc-X.Y.Z.css instead */

#result_wrapper {
    width: 100%;
    text-align: center;
}

#result_content {
    width: 951px;
    font-size: 15pt;
    text-align: center;
}

#result_header {
    width: 100%;
    display: inline-block;
    color: red;
    text-align: center;
    vertical-align: top;
    border-style: groove;
}

#result_left {
    width: 38%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-style: groove;
    float: left;
}

#result_center {
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-style: groove;
    float: none;
}

#result_right {
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-style: groove;
    float: right;
}

#result_bottom {
    text-align: left;
    vertical-align: middle;
    width:100%;
    margin: 0 auto;
    /*padding: 10 10 10 10;*/
}

#img_plot1 {
    width: 450px;
}

div#footer{
    margin: 0 auto;
    float: left;
    width: 100%;
}

div#footer > p{
    background-color: transparent;
}

div.release{
    float:right;
}

div#recommendation{
    text-align: center;
}

.redfont {
    color: red;
    font-weight: bold;
}