/*CSS*/
/* this is a comment */

h4{
    background-color: #A8C9FF;
    text-align: center;
}

div.form-group{
    min-height: 35px;
    margin-bottom: 10px;
}

span.help-block{
    width: 50px;
    display: initial;
    float: right;
}
div#theformcontainer{
    margin-bottom: 1%;
}

div#leftdiv {
    width: 51%;
    float: left;
}

div#rightdiv{
    width: 48%;
    float: left;
    margin-left: 1%;
}

div#submitbuttonsdiv{
    float: left;
    width: 100%;
    text-align: center;
}

label.control-label{
    width: 40%;
    float: left;
}

.form-control{
    float: left;
    width: 45% !important;
    margin-bottom: 10px;
}

#ucmlogoimg {
    width: 90px;
}

#result3{
    text-align: center;
}

#store_result{
    visibility: hidden;
}

#result2{
    width:35%;
    height: 100%;
    float:left
}

#result2 > p{
    line-height: normal;
    text-align: left;
    background-color: transparent;
}

#result4 {
    width: 35%;
    height: 100%;
    float: left;
}

#theoutput {
    width: 100%;
    float: left;
    min-height: 972px;
}


#result{
    min-width: 640px;
    width:60%;
    height: 100%;
    float:left !important;
}





.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


.rowheight {
    height: 10px;
}

.iconcolumn {
    width: 10%;
    text-align: center;
    vertical-align: center;
}

.iconsize {
    width: 100%;
}

.perframecolumn {
    width= 20%;
}

.allframecolumn {
    width= 20%;
}



ul {list-style:none;
    padding: 0px 0px 5px;
}